$font-family: 'Asap', sans-serif;
$main-color: #4d4d4d;
header {


header {
  .bg {
    background-image: url("../images/bg_01.png");
    background-size: cover;
    height: 100vh;
    text-align: center;
  }

  .h1 {
    font-size: 90px;
    color: #4d4d4d;
    margin-top: 260px;
  }
}
  .service{
  background-color: #f6f6f6;
}
.footer{
  background-image: url("../images/footer-bg_02.png");
  background-size: cover;
  height: 100vh;

}

